body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://d2culxnxbccemt.cloudfront.net/pop/content/uploads/2017/06/06164546/Above-the-clouds-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    color: rgb(171, 97, 97);
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 15px;
}

